@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Satisfy&display=swap');

:root {
    --beige-project-background: rgba(255, 255, 255, 0.5);
    --text-color: #1a2311;
    --eggshell-task-background: #d1c6ba;
    --bone-task-hover: #c0c7c6;
    --project-width: 200px;
    --task-width: calc(var(--project-width) - 20px);
}

html, body {
    font-family: 'Roboto Mono', monospace;
    padding: 0px 20px;
    color: var(--text-color);
}

body {
    background-image: url("https://picsum.photos/id/128/3000/3000");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

h1 {
    font: bold 70px 'Satisfy', cursive;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    overflow: auto;
    white-space: nowrap;
}

.main::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    justify-content: center;
}

.project {
    width: var(--project-width);
    background-color: var(--beige-project-background);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 200px;
}

.add-project {
    cursor: pointer;
    justify-content: center;
    width: 200px;
    height: 45px;
}

.add-task {
    align-items: center;
    display: flex;
    justify-content: column;
}

.btn {
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--eggshell-task-background);
}

.btn:hover {
    cursor: pointer;
    background-color: var(--bone-task-hover);
}

.project-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0 10px 5px;
}

.checkbox {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    margin-right: 5px;
}

.task {
    height: 25px;
    background-color: var(--eggshell-task-background);
    border-radius: 5px;
    width: var(--task-width);
    padding: 5px 10px 5px 10px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.task-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.task:hover {
    cursor: pointer;
    background-color: var(--bone-task-hover);
}

.strike-through {
    text-decoration: line-through;
}

.task-label::before {
    content: "\A";
    white-space: pre;
}

.add-task {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input {
    font-family: 'Roboto Mono', monospace;
    background: transparent;
    border: none;
}

.input:focus {
    outline: none;
}

.project-input {
    font-size: 20px;
    padding: 0;
}
