@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --beige-project-background: #f5f5dc;
    --eggshell-task-background: #f0ead6;
    --bone-task-hover: #e3dac9;
    --project-width: 200px;
    --task-width: calc(var(--project-width) - 20px);
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

.project {
    width: var(--project-width);
    background-color: var(--beige-project-background);
    border-radius: 10px;
    padding: 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.add-task {
    align-items: center;
    display: flex;
    justify-content: column;
}

.btn {
    border: none;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--eggshell-task-background);
}

.btn:hover {
    cursor: pointer;
    background-color: var(--bone-task-hover);
}

.project-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0 10px 5px;
}

.checkbox {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    border: 2px solid black;
    margin-right: 5px;
}

.task {
    height: 25px;
    background-color: var(--eggshell-task-background);
    border-radius: 10px;
    width: var(--task-width);
    padding: 5px 10px 5px 10px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.task-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.task:hover {
    cursor: pointer;
    background-color: var(--bone-task-hover);
}

.task-label::before {
    content: "\A";
    white-space: pre;
}

.add-task {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.task-input {
    background: transparent;
    border: none;
}

.task-input:focus {
    outline: none;
}
